[submodule "riocoreconfig/riocore"]
	path = riocoreconfig/riocore
	url = https://github.com/multigcs/riocore.git
	branch = master
[submodule "grinder_touch"]
	path = grinder_touch
	url = git@github.com:digiexchris/grinder_touch.git
