// ### base ###
IO_LOC "sysclk_in" 52;
IO_PORT "sysclk_in" IO_TYPE=LVCMOS33;

// ### spi0 ###
IO_LOC "PININ_SPI0_MOSI" 25;
IO_PORT "PININ_SPI0_MOSI" IO_TYPE=LVCMOS33;
IO_LOC "PINOUT_SPI0_MISO" 26;
IO_PORT "PINOUT_SPI0_MISO" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PININ_SPI0_SCLK" 27;
IO_PORT "PININ_SPI0_SCLK" IO_TYPE=LVCMOS33;
IO_LOC "PININ_SPI0_SEL" 28;
IO_PORT "PININ_SPI0_SEL" IO_TYPE=LVCMOS33;

// ### freqin1 ###
IO_LOC "PININ_FREQIN1_FREQ" 29;
IO_PORT "PININ_FREQIN1_FREQ" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// ### pwmout2 ###
IO_LOC "PINOUT_PWMOUT2_PWM" 30;
IO_PORT "PINOUT_PWMOUT2_PWM" IO_TYPE=LVCMOS33 DRIVE=4;

// ### stepdir3 ###
IO_LOC "PINOUT_STEPDIR3_STEP" 40;
IO_PORT "PINOUT_STEPDIR3_STEP" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR3_DIR" 35;
IO_PORT "PINOUT_STEPDIR3_DIR" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR3_EN" 41;
IO_PORT "PINOUT_STEPDIR3_EN" IO_TYPE=LVCMOS33 DRIVE=4;

// ### stepdir4 ###
IO_LOC "PINOUT_STEPDIR4_STEP" 42;
IO_PORT "PINOUT_STEPDIR4_STEP" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR4_DIR" 51;
IO_PORT "PINOUT_STEPDIR4_DIR" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR4_EN" 53;
IO_PORT "PINOUT_STEPDIR4_EN" IO_TYPE=LVCMOS33 DRIVE=4;

// ### stepdir5 ###
IO_LOC "PINOUT_STEPDIR5_STEP" 54;
IO_PORT "PINOUT_STEPDIR5_STEP" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR5_DIR" 55;
IO_PORT "PINOUT_STEPDIR5_DIR" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PINOUT_STEPDIR5_EN" 56;
IO_PORT "PINOUT_STEPDIR5_EN" IO_TYPE=LVCMOS33 DRIVE=4;

// ### bitin6 ###
IO_LOC "PININ_BITIN6_BIT" 57;
IO_PORT "PININ_BITIN6_BIT" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ### bitin7 ###
IO_LOC "PININ_BITIN7_BIT" 77;
IO_PORT "PININ_BITIN7_BIT" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ### bitin8 ###
IO_LOC "PININ_BITIN8_BIT" 76;
IO_PORT "PININ_BITIN8_BIT" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// ### bitin9 ###
IO_LOC "PININ_BITIN9_BIT" 75;
IO_PORT "PININ_BITIN9_BIT" IO_TYPE=LVCMOS33 PULL_MODE=UP;

