// ### base ###
IO_LOC "sysclk_in" 52;
IO_PORT "sysclk_in" IO_TYPE=LVCMOS33;

// ### spi0 ###
IO_LOC "PININ_SPI0_MOSI" 72;
IO_PORT "PININ_SPI0_MOSI" IO_TYPE=LVCMOS33;
IO_LOC "PINOUT_SPI0_MISO" 73;
IO_PORT "PINOUT_SPI0_MISO" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "PININ_SPI0_SCLK" 82;
IO_PORT "PININ_SPI0_SCLK" IO_TYPE=LVCMOS33;
IO_LOC "PININ_SPI0_SEL" 83;
IO_PORT "PININ_SPI0_SEL" IO_TYPE=LVCMOS33;

