### base ###
set_io sysclk_in 35

### blink0 ###
set_io PINOUT_BLINK0_LED 18

### spi1 ###
set_io PININ_SPI1_MOSI 14
set_io PINOUT_SPI1_MISO 17
set_io PININ_SPI1_SCLK 15
set_io PININ_SPI1_SEL 32

### bitout2 ###
set_io PINOUT_BITOUT2_BIT 45

### stepdir3 ###
set_io PINOUT_STEPDIR3_STEP 13
set_io PINOUT_STEPDIR3_DIR 12

### stepdir4 ###
set_io PINOUT_STEPDIR4_STEP 11
set_io PINOUT_STEPDIR4_DIR 10

### stepdir5 ###
set_io PINOUT_STEPDIR5_STEP 9
set_io PINOUT_STEPDIR5_DIR 6

### bitout6 ###
set_io PINOUT_BITOUT6_BIT 43

### bitout7 ###
set_io PINOUT_BITOUT7_BIT 19

### bitin8 ###
set_io -pullup yes PININ_BITIN8_BIT 40

### bitin9 ###
set_io -pullup yes PININ_BITIN9_BIT 39

### bitin10 ###
set_io -pullup yes PININ_BITIN10_BIT 38

### bitin11 ###
set_io -pullup yes PININ_BITIN11_BIT 37

### bitin12 ###
set_io -pullup yes PININ_BITIN12_BIT 36

### bitin13 ###
set_io -pullup yes PININ_BITIN13_BIT 42

### bitin14 ###
set_io -pullup yes PININ_BITIN14_BIT 34

### signal15 ###

### pwmout16 ###
set_io PINOUT_PWMOUT16_PWM 44

### pwmin17 ###
set_io PININ_PWMIN17_PWM 41
